<?xml version="1.0" ?>
<model>
    <name>route2</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description>export GAZEBO_MODEL_PATH=C:\Users\puigm\Desktop\ROS_github\rUBot_mecanum_ws\src\rubot_mecanum_description\models
    </description>
</model>
