<launch>
  <!-- Define the needed parameters -->
  <arg name="model" default="limo_four_diff.xacro" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
  <!-- Spawn the robot -->
  <!-- Robot URDF definition -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find rubot_mecanum_description)/urdf/limo/$(arg model)'" />

  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model"
    args="-urdf -model rUBot -param robot_description"/>
</launch>
