<launch>
 <!-- Navigation Program   -->
    <arg name="vx" default="0.2"/>
    <arg name="vy" default="0.3"/>
    <arg name="w" default="0"/>
    <arg name="d" default="0.8"/>
  <node name="rubot_nav" pkg="rubot_control" type="rubot_nav1.py" output="screen" >
    <param name="vx" value="$(arg vx)"/>
    <param name="vy" value="$(arg vy)"/>
    <param name="w" value="$(arg w)"/>
    <param name="d" value="$(arg d)"/>
  </node>
</launch>
