<launch>
    <arg name="model" default="rubot_mpuig.urdf" />
  <!-- spawn rubot_rp -->
    <param name="robot_description" textfile="$(find rubot_mecanum_description)/urdf/$(arg model)" />
  
  <!-- launch rUBot mecanum  -->
    <include file="$(find rubot_mecanum_driver)/launch/rubot_mecanum_driver.launch"/>
  <!-- launch rplidar   -->
    <include file="$(find rubot_mecanum_description)/launch/rplidar_custom.launch"/>
  <!-- launch usb-cam   -->
    <include file="$(find rubot_mecanum_description)/launch/usb_cam_custom.launch"/>
</launch>
